.header {
    background-color: #f0db4f; /* light yellow */
    color: #3d3d3d; /* dark gray */
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border-bottom: 5px solid #6farb0; /* dark green */
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

.header p {
    font-size: 1.2em;
    margin: 5px 0 0;
}